.page {
  background: #2A2C2F;
  padding: 0;
  margin: 0 auto 0;
  color: #FFFFFF;
  max-width: 1280px;
  min-width: 300px;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;

}

