.footer__colums {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer__colums {
    display: flex;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .footer__colums {
    display: block;
    margin-bottom: 48px;
  }
}
